/* body and paragraphs */

body {
	width: 100%;
	font-size: 1em;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: black;
	background-color: #d8d7de;
}

p {
	font-size: 1.2em;
	text-indent: 1.5em;
	text-align: justify;
}

/* styling the links */

a {
	margin: 1em;
	padding: 1em;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.2em;
	color: darkslategray;
}

a:visited {
	color: #40071D;
}

a:hover {
	font-size: 1.4em;
	color: #074029;
}

/* styling headers */

h1 {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size: 2.5em;
}

h2 {
	font-family: "Comic Sans MS", cursive;
	font-size: 2em;
}

h3 {
	font-family: "Comic Sans MS", cursive;
	font-size: 1.3em;
}

h1, h2, h3 {
	text-align: center;
}

/* for arranging divs */

div#header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #0d0740; 
}

div#header h1 {
	color: #ebedd8;
}

div#space {
	visibility: hidden;
	width: 100%;
	margin-top: 1%;
}

div#navbar {
	width: 100%;
}

div#navbar ul {
	list-style-type: none;
	margin: 1.5em;
}

div#navbar ul li {
	text-align: center;
	display: inline;
	width: 19%;
	float: left;
	margin-right: .5em;
}

li.colorButtons {
	background-color: #2A0740;
}

li.colorButtons:hover {
	background-color: #07400D;
}

li.colorButtons:active {
	background-color: #073940;
}

div#navbar ul li a {
	font-family: Georgia, Times, serif;
	font-weight: bold;
	font-size: .7em;
	text-decoration: none;
	color: white;
	display: block;
	padding .5em;
}

div#ipsum {
	width: 85%;
	margin: 0 auto 0 auto;
	color: #0d0740;
}

div.left3 {
	width: 31%;
	float: left;
}

div.middle3 {
	width: 31%;
	float: left;
	margin-left: 2%;
}

div.right3 {
	width: 31%;
	float: right;
}

.nowrap {
	clear: both;
	font-size: .10em;
	margin: 5em;
}

div.left2 {
	width: 48%;
	float: left;
}

div.right2 {
	width: 48%;
	float: right;
}

div#footer {
	clear: both
	font-size: .85em;
	color: #0d0740;
	border: 3px solid #40071D;
	padding: .5em;
	margin: 2em 2em 1em 2em;
}

/* adjust anchor behavior for fixed header */
.anchor:before {
	display: block;
	content: " ";
	height: 200px;
	margin-top: -200px;
	visibility: hidden;
}

/* lists and tables */

ul {
	font-size: 1.5em;
	margin-bottom: .3em;
	margin-left: 2em;
	list-style-type: circle;
}

table {
	width: 50%;
  	font-family: Georgia, Times, serif;
  	font-size: 1.5em;
  	text-align: center;
  	border-collapse: collapse;
  	margin: 3em auto 3em auto;
}

th.toprow {
	border-bottom: 2px groove navy;
	background-color: lightcyan;
}

th.side {
	text-align: center;
	background-color: aliceblue;
	}

td {
	border: 1px solid black;
	background-color: whitesmoke;
}

td, th {
	padding: .75em;
}

/* special styles for exercises */

.ital {
	font-style: italic;
}

.red {
	color: #e63e62;
}

div.lowerpage {
	margin-top: 12%;
}

button {
	font-family: "Comic Sans MS", cursive;
	font-size: .9em;
	color: #3a1356;
	margin-left: 15%;
}

blockquote {
	font-size: 1.2em;
	color: #ebedd8;
	width: 55%;
	margin: 0 auto 2% auto;
}

#specialid {
	color: #3A4007;
	margin-top: 7em;
}

/* the form to nowhere */

.myform {
	width: 80%;
	margin: 5em auto 5em auto

}

form {
	font-family: Georgia, Times, serif;
	font-size: 1.2em;
	color: #3D4C46;
	line-height: 1.7em;
}

input[type="text"], textarea {
	font-family: 'Comic Sans MS', cursive;
	font-size:	1.1em;
}

input[type="submit"] {
	font-size: 1.5em;
	background-color: #89C9CD;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

legend {
	font-weight: 700;
}

/* related to photos */

.dog {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: .5em;
	margin-bottom: .5em;
	border: 2px solid navy;
	padding: 1em;
}

.photo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* no longer used; relates to old exercises 

img.wrap-left {
  float: left;
}

img.wrap-right {
  float: right;
}

p.no-wrap {
   clear: both;
}

p.important {
	font-size: 1.5em;
	font-weight:900;
}

p.whitespace {
	margin: .5em 1em .5em 1.5em;
}

.typewriter {
	font-family: "Courier New", Courier, monospace;
}

p.spacy {
	letter-spacing: .3em;
	word-spacing: .1em;
	line-height: 1.8em;
}

.weird {
	border-top: 2px dashed #71266e;
	border-right: 2px dotted #567890;
	border-bottom: 4px solid #90c3d4;
	border-left: 2px dotted #567890;
	padding: .3em;
}

.myborder {
	border: 2px groove #90C3D4;
	padding: .3em;
}

*/
