p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
}

h1 {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size: 2em;
}

h3 {
	text-align: center;
}

p.important {
	font-size: 1.5em;
	font-weight:900;
}

p.justified {
	text-align: justify;
}

p.spacy {
	letter-spacing: .3em;
	word-spacing: .1em;
	line-height: 1.8em;
}

p.indented {
	text-indent: 1.5em;
}

blockquote {
	font-size: .85em;
	color: darkslategray;
}

.typewriter {
	font-family: "Courier New", Courier, monospace;
}

.ital {
	font-style: italic;
}

.red {
	color: #cc0000; /*this is red*/
}

