p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
	text-indent: 1.5em;
	text-align: justify;
}

a {
	margin: 1em;
	padding: 1em;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.2em;
}

h1 {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size: 2.5em;
}

h2 {
	font-family: "Comic Sans MS", cursive;
	font-size: 2em;
}

h3 {
	font-family: "Comic Sans MS", cursive;
	font-size: 1.3em;
}

h1, h2, h3 {
	text-align: center;
}

p.important {
	font-size: 1.5em;
	font-weight:900;
}

p.whitespace {
	margin: .5em 1em .5em 1.5em;
}

button {
	font-family: "Comic Sans MS", cursive;
	font-size: .9em;
	color: #3a1356;

}

/* removing these classes and adding to main paragraph formatting
p.justified {
	text-align: justify;
}

p.indented {
	text-indent: 1.5em;
}
*/

p.spacy {
	letter-spacing: .3em;
	word-spacing: .1em;
	line-height: 1.8em;
}

blockquote {
	font-size: 1.2em;
	color: darkslategray;
}

img.wrap-left {
  float: left;
}

img.wrap-right {
  float: right;
}

p.no-wrap {
   clear: both;
}

.myborder {
	border: 2px groove #90C3D4;
	padding: .3em;
}

.weird {
	border-top: 2px dashed #71266e;
	border-right: 2px dotted #567890;
	border-bottom: 4px solid #90c3d4;
	border-left: 2px dotted #567890;
	padding: .3em;
}

.typewriter {
	font-family: "Courier New", Courier, monospace;
}

.ital {
	font-style: italic;
}

.red {
	color: #cc0000; /*this is red*/
}

#specialid {
	color: #D4A190;
}

#footer {
	clear: both
	font-size: .85em;
	color: navy;
	border: 3px solid #C390D4;
	padding: .5em;
}

.dog {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: .5em;
	margin-bottom: .5em;
	border: 2px solid navy;
	padding: 1em;
}
